#cachorro {
	width: 8em;
	margin-top: 500px;
	margin-left: 200px;
}

#titulo{
	font-family: Arial, Helvetica, sans-serif;
}
#casa {
	width: 8em;
	position: absolute;
	top: 400px;
	left: 1100px;
}

#campo {
	width: 4em;
	display: block;
	margin-top: 2em;
}
